# macOS
.DS_Store

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo

# React Native
/android/
/ios/Pods/
/ios/build/
/ios/Podfile.lock
/ios/*.xcworkspace/
/ios/*.xcuserdatad/
/ios/xcuserdata/

# Miscellaneous
/.expo/
/.expo-shared/
.env
